@mixin space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@mixin font($fw, $fz, $lh, $color) {
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $color;
}